@page "/"
@using BlazorServerFirstProject.Data
@using Microsoft.Extensions.Logging
@inject IDummyDataAccess db
@inject ILogger<Index> logger
<PageTitle>Home</PageTitle>

<h2>Welcome!</h2>
<h1>SJ's Practice Blazor Server Project</h1>


Your new random number is @db.GetUserAge().
<div class="row mt-3">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Weather forecast</div>
            <div class="card-body">
                
                <FetchData />
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">Logo</div>
            <div class="card-body">
                <p>This is a simple example of a logo.</p>
                <img  class="img-fluid" src="img/fizz_buzz_logo.png" />
            </div>
        </div>
    </div>
</div>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        int id = 25;
        logger.LogInformation("Index.razor.cs: Index() constructor called on id #{userId}.", id);
    }

    }


